.container {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    


    >button {
        padding: 8px 16px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background-color 0.2s, transform 0.1s;
    }
    >button:hover {
        background-color: #2980b9;
        transform: scale(1.05);
    }
    
}


.container.top-left {
    top: 20px;
    left: 20px;
}

.container.top-right {
    top: 20px;
    right: 20px;
}

.container.bottom-left {
    bottom: 20px;
    left: 20px;
}

.container.bottom-right {
    bottom: 20px;
    right: 20px;
}