.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border: 4px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;

    justify-items: center;
    justify-content: center;

    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.border_red {
    border-color: #ff4d4d;
}


.timeDisplay {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}


.controllContainer {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}