.button {
    height: 2.5rem;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;

    white-space: nowrap;

    user-select: none;

    border-radius: 10px;

    transition: all 0.2s;
}

.button:disabled {
    background-color: #f5f5f5;
    color: #999999;
    cursor: not-allowed;
    box-shadow: none;
}

.button:disabled:hover {
    background: #f0f0f0;
    color: #999999;
    box-shadow: none;
}

.button:hover {
    background-color: rgba(175, 175, 175, 0.75);
    color: #333333;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}



.button.primary:not(:disabled) {
    background-color: #3498db;
    color: #fff;
}

.button.primary:hover:not(:disabled) {
    background-color: #2980b9;
}


.button.secondary:not(:disabled) {
    background-color: #95a5a6;
    color: #fff;
}
.button.secondary:hover:not(:disabled) {
    background-color: #7f8c8d;
}

.button.danger:not(:disabled) {
    background-color: #e74c3c;
    color: #fff;
}
.button.danger:hover:not(:disabled) {
    background-color: #c0392b;
}

.button.success:not(:disabled) {
    background-color: #2ecc71;
    color: #fff;
}
.button.success:hover:not(:disabled) {
    background-color: #27ae60;
}







.button.small {
    padding: 8px;
    font-size: 12px;
}

.button.medium {
    padding: 10px;
    font-size: 16px;
}

.button.large {
    padding: 12px;
    font-size: 20px;
}

.button.extraLarge {
    padding: 14px;
    font-size: 24px;
}

.button.mega {
    padding: 16px;
    font-size: 28px;
}