.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: #e2e2e2;
    overflow: hidden;
}


.top {
    height: 75px;
    overflow: hidden;
}


.content {
    flex: 1;

    overflow: hidden;
}

.bottom {
    height: 150px;
    background-color: #696969;

    overflow: hidden;
}