.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: #e2e2e2;
    overflow: hidden;
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;

    text-align: center;

    user-select: none;
}


.taskList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 10px;
    justify-content: center;

    padding: 10px;
}